@media screen
  and (min-device-width: 1025px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    /*Adding a black background color to the body of my browser*/
    body{
      background-color: black;
    }

     /*  */
    #phones_subjects_section{
      display: none;
    }

    /*  */
    #high_school_phone{
      display: none;
    }

     /* phone navbar */
      #hidden_navbar_content{
        background-color: black;
        height: auto;
        width: 20%;
        font-size: 50px;
        text-align: center;
        display: none;
        color: white;
        float: right;
        position: fixed;
        margin-left: 100px;
        border: 5px solid gray;
        display: none;
      }

      /*  for phone*/
      #phone_navbar{
        width: 50%;
        background-color: red;
        height: auto;
        float: left;
        display: none;
      }

      /*  phone navbar*/
      #phone_navbar button{
        position: fixed;
        margin: 10px;
        background-color: white;
        display: none;
      }

      /*phone contact  */
      #contact_phone_holder{
        width: 100%;
        height: auto;
        background-color:#333;
        display: none;
      }


    /*Aligning the  sidebar to the left side of my browser ,occupying a width of 15% and a height that is suitable to the eye sight.
    the positioned is fixed which resuts into the sidebar being glued to the left side of the  browser*/

    #sidebar_styling{
      background-color:#333;
      width: 10%;
      height: 720px;
      padding-left: 5px;
      position: fixed;
      float: left;
      top: 0;
      color:white;
      padding-right: 5px;
    }

    /* Centered text and a bottom padding to the sidebar listed items */

    #sidebar_styling li{
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    /*Removing the bullets from the unordered list*/

    nav ul{
      list-style-type: none;
    }

    /*Adding a hover to the home icon ,to change to a red color and a black text color */

    #home_icon:hover{
      background-color: red;
      color: black;
    }

    /*removing the underline and changing the text size bigger,and addding a white text color*/

    #home_icon a{
      color: white;
      font-size: 22px;
      text-decoration: none;
    }

    /* Adding a red background hover to the sidebar this apply to the classed information */

    .sidebar_icons:hover{
      background-color: red;
    }

    /*removing the underline from the anchor tag and changing the text color as well as enchancing the size of the font*/

    .sidebar_icons a{
      color: white;
      font-size: 22px;
      text-decoration: none;
    }

    /*aligned a background image to the top right of my browser ,by floating it right as well as inserting  a suitable
    height and width and sizing it to cover to fit the cover of the screen */

    #image_aligned_right{
      height:750px;
      float: right;
      width: 89%;
      background-image: url("images/lance.jpeg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    /*styling the text ontop of the background image, giving it a gray color with some padding ,as well as enhancing font size*/

    #image_aligned_right p{
      color: #333;
      padding-left: 745px;
      font-size: 40px;
    }

    #image_aligned_right h3{
      color: #333;
      padding-left: 530px;
      font-size: 40px;
    }

    /*personal Statement aligned to the right of the browser,comes with a suitable height and width. contains padding
    for personal alignement as well as a background gray color to add a theme to the browser page*/

    #personal_statement_aligned_right{
      padding-top: 10px;
      padding-bottom: 10px;
      width: 89%;
      background-color: #333;
      float: right;
      height: auto;
      color: black;
      font-family: 'IM Fell Great Primer', serif;
    }

    /*targeting the p tag of the personal statement white text color,centered text as well as padding .contains a bigger font size too*/

    #personal_statement_aligned_right p{
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      color: white;
      font-size: 20px;
    }

    /*aligned  content to the right ,contains paddding for adjusting ,a width and height to compliment the rest of the content on the browser */

    #skill_ability_aligned_right{
      padding-top: 10px;
      padding-bottom: 10px;
      width: 89%;
      background-color: black;
      float: right;
      height: auto;
      color: white;
    }

    /*targeting the headings and centering them in the middle as well as adding font size*/

    #skill_ability_aligned_right h2{
      text-align: center;
      font-size: 24px;
      color: white;
    }

    #skill_ability_aligned_right h6{
      text-align: center;
      font-size: 20px;
      color: gray;
    }

    /*centered white text with a font size and padding for adjustment */

    #skill_ability_aligned_right p{
      padding-left: 10%;
      padding-right: 10%;
      font-size: 20px;
      color: white;
    }

    /*Removing the bullets from the unordered list*/

    #skill_ability_aligned_right ul{
      list-style-type: none;
    }

    /*aligning the text center of the list items*/

    #skill_ability_aligned_right li{
      font-size: 20px;
      text-align: center;
    }

    /*white text color background red color aligned content to the right of the browser,contains padding as well */

    #coding_content_holder{
      color:white;
      background-color: #333;
      height: auto;
      float: right;
      width: 89%;
    }

    #coding_content_holder h1{
      text-align: center;
      color: red;
    }

    /* courses completed content displays on the right ,with a matching width as the rest of the content that
    appears on the right with a white text color and a themed background color */

    #courses{
      padding-top: 10px;
      padding-bottom: 10px;
      width: 89%;
      background-color:black;
      float: right;
      height: auto;
      color: white;
    }

    /*styling the p tag within the courses holder*/
    #courses p{
      padding-left: 10%;
      padding-right: 10%;
      font-size: 20px;
      color: white;
    }

    /*aligning the heading center*/
    #courses h2{
      text-align: center;
      color: red;
    }

    /*education content contains padding ,background color,text color as well as a suitable width and height*/

    #education_aligned_right{
      padding-top: 10px;
      padding-bottom: 10px;
      width: 89%;
      background-color:#333;
      float: right;
      height: 650px;
    }

    /*aligning white headings from h2-h5 */

    #education_aligned_right h2{
      text-align: center;
      color: red;
    }

    #education_aligned_right h5,h6{
      color: gray;
      text-align: center;
      font-size: 20px;
    }

    /*Styling the p tags within the education aligned holder*/
    #education_aligned_right p{
      padding-left: 10%;
      padding-right: 10%;
      font-size: 20px;
      color: white;
    }

    /* subjects holder for laptop */
    #laptop_subject_holder{
      width: 50%;
      height: 300px;
      color: white;
      font-size: 20px;
      float: left;
    }

    /*  */
    #laptop_subject_holder h3{
      color: gray;
    }

    /*  left subject*/
    #left_subjects_aligned{
      float: left;
      width: 50%;
      height: 120px;
    }

    /*  */
    #left_subjects_aligned li{
     padding-left: 85px;
     padding-bottom: 10px;
    }

    /*  right*/
    #right_subjects_aligned{
      float: left;
      width: 50%;
      height: 120px;

    }

    #right_subjects_aligned li{
     padding-left: 100px;
     padding-bottom: 10px;

    }

    #centered_subject{
      color: white;
      width: 100%;
      height: 300px;
      margin-left: 170px;
      padding-top: 10px;
      padding-bottom: 10px;

    }


    /* will display on left side of the browser */
    #high_school{
      float: left;
      width: 50%;
      height: 300px;
      font-size: 20px;
    }

    #high_school h3{
      color: gray;
    }

    #high_school li{
    text-align: center;
    color: white;
    padding-bottom: 20px;
    }

/*
    #education_aligned_right table{
      font-size: 20px;
      color: white;
    } */

    /* #education_aligned_right ul,li{
      list-style-type: none;
    } */

    /* .aligned_right_td{
      margin-left: 100px;
      font-size: 20px;
    }

    .aligned_left_td{
      margin-left: 150px;
      font-size: 20px;
    } */




    /*contact holder section for laptop only*/
    #contact_holder{
      width: 89%;
      background-color:#333;
      float: right;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }

     /* contact main header */
     #contact_holder h4{
       color: red;
     }

     /* content aligned on the left */
     #left_contact_laptop{
       float: left;
       width: 50%;
       height: 120px;
       padding-bottom: 10px;
     }

     #left_contact_laptop table{
       margin-left: 250px;
     }

     #left_contact_laptop td{
       padding-left: 20px;
       color: white;
       font-size: 20px;
     }

     /*  content aligned on the right */
     #right_contact_laptop{
       float: left;
       width: 50%;
       height: 120px;
       padding-bottom: 10px;
     }

     #right_contact_laptop table{
       margin-left: 150px;
     }

     #right_contact_laptop td{
       padding-left: 15px;
       color: white;
       font-size: 20px;
     }

     /*  */
     #aligned_laptop_location table{
       margin-left: 440px;
     }

     #aligned_laptop_location td{
       color: white;
       font-size: 20px;
       padding-left: 15px;
     }

    /* #contact_holder h2{
      text-align: center;
      color: red;
    } */
/*
    #left_laptop_contact{
      float: left;
      width: 30%;
      height: 300px;
      background-color: red;
      margin-left: 100px;
    } */
/*
    #footer_icons{
      float: left;
      width: 50%;
      height: 50px;
      background-color: blue;
    } */

    /* #contact_holder table{ */
      /* padding-left: 50px; */
      /* float: left; */
      /* width: 40%; */
      /* background-color: yellow; */
    /* } */

    /* #contact_holder td{
      padding-bottom: 35px;
      background-color: blue;
      margin-right: 100px;
    } */

    .td_text{
      padding-left: 10px;
      font-size: 20px;
    }

    #home_bullets_styling{
      list-style-type: none;
    }

    p.fa.fa-envelope {
      padding-left: 400px;

    }

    #html_bar{
      padding-left: 41px;
      float:left;
      width: 20%;
    }

    #css_bar{
      padding-left: 41px;
      float:left;
      width: 20%;
    }

    #javascript_bar{
      padding-left: 41px;
      float:left;
      width: 20%;
    }

    #jquery_bar{
      padding-left: 41px;
      float:left;
      width: 20%;
    }

    /*stylyng the skills images*/
    #html_bar img{
      border-radius: 50%;
      width: 240px;
      height: 200px;
      box-shadow: 5px 5px 5px red;
    }

    #css_bar img{
      box-shadow: 5px 5px 5px red;
      border-radius: 50%;
      width: 240px;
      height: 200px;
    }

    #javascript_bar img{
      box-shadow: 5px 5px 5px red;
      border-radius: 50%;
      width: 240px;
      height: 200px;
    }

    #jquery_bar img{
      box-shadow: 5px 5px 5px red;
      border-radius: 50%;
      width: 240px;
      height: 200px;
    }

    /*adding a hover function to the bar of the skills */
    #html_bar:hover{
      opacity: 0.1;
      transition: 3s;

    }

    #css_bar:hover{
      opacity: 0.1;
      transition: 3s;
    }

    #javascript_bar:hover{
      opacity: 0.1;
      transition: 3s;
    }

    #jquery_bar:hover{
      opacity: 0.1;
      transition: 3s;
    }


    /*aligning the reference page to the right of the browser*/
    #references{
      padding-top: 10px;
      padding-bottom: 10px;
      width: 89%;
      background-color:black;
      float: right;
      height: auto;
      color: white;
    }

    #references p{
      text-align: center;
      font-size: 20px;
      color: white;
    }


    #references h2{
      text-align: center;
      color: red;
    }


    #references img{
      border-radius: 50%;
      width: 200px;
      height: 200px;
      box-shadow: 5px 5px 5px #333;
      margin-left: 90px;
      margin-top: 10px;
    }

    #references img:hover{
      transform: rotateY(-180deg);
      transition: 2s;
      box-shadow: 5px 5px 5px red;
    }

    /*styling the text and headers below the image of nate*/
    #reference_nate{
      float: left;
      width: 33.3%;
    }

    #reference_nate h3{
      padding-right: 22px;
    }

    #reference_nate h4{
      padding-right: 20px;
    }


    /*stylying the text below the image of candice */
    #reference_candice{
      float: left;
      width: 33.3%;
    }

    #reference_candice h3{
      padding-right: 20px;
    }

    #reference_candice h4{
      padding-right: 25px;
    }


    /*stylying the text below the image of stefan*/
    #reference_stefan{
      float: left;
      width: 33.3%;
    }

    #reference_stefan h3{
      padding-right: 10px;
    }

    #reference_stefan h4{
      padding-right: 30px;
    }

    .td_icons{
      color: white;
      padding-right: 200px;
      font-size: 20px;
    }

}
